<h1><%= @employee.name %>'s show page </h1>

<p>Name: <%= @employee.name %></p>
<p>Level: <%= @employee.level %></p>

<h3>Employee's Tickets</h3>
<% @employee.tickets.order_by_oldest.each do |ticket| %>
 <p>Subject: <%= ticket.subject %></p>
 <p>Age: <%= ticket.age %></p>
<% end %>

<h2>Employee's Oldest Ticket</h2>
<p>Subject: <%= @employee.tickets.oldest_ticket.subject %></p>
<p>Age: <%= @employee.tickets.oldest_ticket.age %></p>

<h2> Add ticket</h2>
<%= form_with url: "/employees/#{@employee.id}", method: :post, local: true do |form| %>
  <%= form.label :ticket_id%>
  <%= form.text_field :ticket_id %>

  <%= form.submit "Submit" %>
<% end %>

